@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    /* border: 1px solid red; */
    font-family: Roboto;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
    z-index: 2;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    font-weight: 500;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item{
    font-size: larger;
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: rgb(218, 64, 218);
}

.first-square {
    position: relative;
    text-align: center;
    color: white;
}
.background {
    z-index: -1;
    width: 100%;
    margin-top: 0;
}

.theatre-feats {
    z-index: 1;
    width: 100%;
    position: absolute;
    justify-content: center;
    top: 20%;
    color: rgb(245, 245, 245);
    display: flex;
    font-size: 5em;
    text-shadow: -1px 1px 2px rgb(0, 0, 0),
                 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px -1px 0 #000;
}

.shows-tile {
    display: flex;
    flex-direction: column;
    padding: 15%;
    padding-top: 3%;
    padding-bottom: 5%;
    background-color: white;

}

.drop-menu{
    justify-self: center;
    margin-bottom: 1em;
}

.show-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}

.show-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.more-info-btn {
    height: 3.5em;
    width: 8em;
    margin-top: 6em;
    font-size: large;
    color: white;
    background-color: yellowgreen;
    border: 1px solid brown;
}

footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.mapimg {
    width: 300px;
    border: 2px solid white;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 5%;
    justify-content: space-between;
    font-size: larger;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: larger;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
}

.media {
    height: 2.5em;
    font-size: larger;
}
.foothead {
    font-size: 2em;
    text-decoration: underline;
}

.tiny {
    margin: 3px;
}

i {
    color: orange;
}